


<div class="row prehead">
    <h1 id="hheader" style="opacity:0;">
        <span class="header-text">Booking Selection</span>
    </h1>
</div>
<div class="container">
    <div class="row filter-row">
        <input id="filter" class="search-query form-control" placeholder="Enter Cats number" type="text" style="display:none">
        <div class="row">
            <div class="col-md-2">Hi @Model.UserName,</div>
            <div class="col-md-8">@Model.Token</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div style="margin:10px">
                    <img src="@Url.Action("GetEUCat","Cat")" style="max-width:100%" />
                </div>
            </div>
            <div class="col-md-6">
                <div style="margin:10px">
                    <img src="@Url.Action("GetAUCat","Cat")" style="max-width: 100%" />
                </div>
            </div>
        </div>
    </div>


    <div class="tab-content" id="mytab">
        <div id="m1" class="tab-pane fade in active">
            <div id="container"></div>
            <div> Hi employeeID is @Model.UserName</div>
        </div>



    </div>
</div>